.checkout__ad {
  width: 100%;
  margin-bottom: 5px;
  margin-right: 5px;
}

.checkout__title {
  margin-left: 10px;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.checkout {
  padding: 20px;
  display: flex;
  height: max-content;
  background-color: white;
}

.checkout__right {
  margin-left: 5px;
}
